* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.sign-up {
  /* background-image: url('/images/img-8.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* color: #fff; */
  font-size: 100px;
}

.home {
  /* display: flex; */
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

/*---- Gene Card Styles ----*/

.genecard {
  display: flex;
  justify-content: space-evenly;
  height: 15vh;
  margin: 5rem;
  text-align:left;
  padding: 1rem;
  margin: 1rem 10rem;
  font-size: 1.3rem;

}

.genecard a {
  text-decoration: none;
  color: rgb(54, 209, 223);
}

/*---- About Page Styles -----*/

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  font-size: 1.2rem;
  margin: 3rem 10rem;

}
